In [6]:
crs.execute('use mpr')
crs.execute('select * from db')
for x in crs:
    print(x[-1])

<class 'NoneType'>
<class 'NoneType'>

In [1]:
import mysql
import mysql.connector


conn=mysql.connector.connect(host="localhost",user="root",password="abcd@1234")
crs=conn.cursor()

In [19]:
crs.execute("show databases")
for x in crs:
    print(x)

('information_schema',)
('MPR',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [20]:
crs.execute('use mpr')
    # Create Table
crs.execute("create table db(id integer primary key auto_increment,\
sent_by text,\
sent_to text,\
name text not null,\
body text,\
coordinator_1 text not null,\
coordinator_2 text,\
department text not null,\
attachment longblob)")
crs.execute('show tables')
for x in crs:
    print(x)

ProgrammingError: 1050 (42S01): Table 'db' already exists

In [11]:
crs.execute('use mpr')
crs.execute('describe db')
for x in crs:
    print(x)

('id', b'int(11)', 'NO', bytearray(b'PRI'), None, bytearray(b'auto_increment'))
('sent_by', b'text', 'YES', bytearray(b''), None, bytearray(b''))
('sent_to', b'text', 'YES', bytearray(b''), None, bytearray(b''))
('name', b'text', 'NO', bytearray(b''), None, bytearray(b''))
('body', b'text', 'YES', bytearray(b''), None, bytearray(b''))
('pic', b'longblob', 'YES', bytearray(b''), None, bytearray(b''))

In [ ]:
crs.execute('use mpr')
crs.execute('insert into db values(NULL,%s,%s,%s,%s,%s,%s,%s)')

In [ ]:
crs.execute('use mpr')
crs.execute('alter table db add column(id int primary key auto_increment)')

In [10]:
crs.execute('use mpr')
crs.execute('alter table db drop column coordinator_1')
crs.execute('alter table db drop column coordinator_2')
crs.execute('alter table db drop column department')

In [9]:
crs.execute("select * from db")
for i in crs:
    print(i)

InternalError: Unread result found

In [ ]:
for i in mycursor:
    print(i)

In [ ]:
mycursor.execute("describe test")

In [ ]:
mycursor.execute("select * from user")
for i in mycursor:
    print(i)

In [ ]:
mycursor.execute("alter table test drop column text")

In [ ]:
mycursor.execute("alter table test add column(text TEXT)")

In [ ]:
print(mycursor)

In [ ]:
for i in mycursor:
    print(i)